# If you use pnpm and hit electron-builder hoisting issues, add:
# shamefully-hoist=true
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422

# For China 🇨🇳 developers
# electron_mirror=https://npmmirror.com/mirrors/electron/
